@using Microsoft.Extensions.Configuration;
@using Microsoft.AspNetCore.Http
@inject IConfiguration Configuration;


@{
    ViewBag.Title = "POS";
    string apiUrl = Configuration.GetValue<string>("WebAPIBaseUrl");
    string ImageUrl = Configuration.GetValue<string>("WebImage");
}
<style>
    @@media (min-width: 768px) {
        .app-content {
            margin-left: 0px;
        }

        .footer.left-footer {
            margin-left: 0px;
        }
    }
</style>
<style>
    p, ul, ol, blockquote {
        margin-bottom: 0em;
        margin-left: 18px;
    }

    @@media (min-width: 1280px) .col-xl-3 {
        max-width: 20%;
    }

    .card.item-card img {
        height: 85px;
        object-fit: cover;
        width: 95%;
        margin-top: -7px;
    }

    .card.item-card {
        max-height: 170px;
        overflow: hidden;
    }

    .product-content {
        height: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    h4, .h4 {
        font-size: small
    }

    .card-body > :last-child {
        margin-bottom: 0px;
        margin-top: 10px;
        height: 65%;
    }

    .table-container {
        max-height: 300px; 
        overflow-y: auto; 
    }

    .table td {
      
        padding: 0;
    }
</style>





<div class="col-md-12 col-lg-12">
    <form class="shop__filter card">
        <div class="card-header">

            <div class="col-sm-3">
                <select id="categoryId" class="select2" style="width: 100%;">
                </select>
            </div>

            <div class="col-sm-4">
                <div class="input-group">
                    <input type="text" id="searchInput" class="form-control" placeholder="Search ..." oninput="autoSearch()">
                </div>
            </div>

        </div>
    </form>
</div>



<div class="row">
    <div class="col-lg-6" id="item-container">
        <div class="row" id="items">
           
           
        </div>
    </div>



    <div class="col-lg-6">
        <div class="card cart">
            <div class="card-header">
                <div class="card-title">Shopping Cart</div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div class="table-container">
                        <table class="table table-bordered table-vcenter text-nowrap">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th class="w-25">Quantity</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <img src="~/images/products/starbucks macchiato.webp" alt="" class="h-8">
                                    </td>
                                    <td>Subway Chicken</td>
                                    <td class="font-weight-semibold number-font1">$568</td>
                                    <td>
                                        <div class="input-group input-indec">
                                            <span class="input-group-btn">
                                                <button type="button" class="quantity-left-minus btn btn-light btn-number" data-type="minus">
                                                    <i class="fa fa-minus"></i>
                                                </button>
                                            </span>
                                            <input type="text" id="quantity" name="quantity" class="form-control input-number text-center" value="1">
                                            <span class="input-group-btn">
                                                <button type="button" class="quantity-right-plus btn btn-light btn-number" data-type="plus">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <a href="#" class="btn btn-info btn-sm mr-3 btn-remove" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove">
                                            <i class="icon icon-trash fs-16"></i>
                                        </a>
                                    </td>
                                </tr>
                               
                            </tbody>
                        </table>
                    </div>
                </div><br>

                <div class="mt-3">
                    <ul class="list-group">
                        <li class="list-group-item">
                            Total Quntity
                            <span class="badgetext h4  mb-0 number-font1">4</span>
                        </li>
                        
                        <li class="list-group-item">
                            Total Price
                            <span class="badgetext h4  mb-0 number-font1">₹3,976</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-footer text-right">
                <a href="#" class="btn btn-primary"><i class="fa fa-arrow-left mr-1"></i>Continue Shopping</a>
                <a href="#" class="btn btn-success">Check out<i class="fa fa-arrow-right ml-1"></i></a>
            </div>
        </div>
    </div>

</div>

@section scripts {
    <script>
        GetCategory("--Select--");

        async function GetCategory(selectedCategory) {
            var opt = '';
            $.ajax({
                type: "GET",
                url: "@apiUrl/api/Category/GetAllChildCategoryList",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                   //console.log(data);
                    var options = [];
                    options.push('<option value="" > Select Category </option>');
                    if (data && data.length) {
                        for (var i = 0; i < data.length; i++) {
                            if (selectedCategory == data[i].categoryId) {
                                opt = 'selected';
                            } else {
                                opt = '';
                            }
                            options.push('<option value="' + data[i].categoryId + '" ' + opt + ' > ' + data[i].categoryName + '</option>');
                        }
                    } else {
                        console.error("No data received or data is not an array.");
                    }
                    $("#categoryId").html(options.join(''));
                },
                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        }
    </script>
  /*  <script>
        // Fetch data from the API
        $.ajax({
            url: '@apiUrl/api/Item/AllItemList',
            method: 'GET',
            success: function (data) { 
                console.log(data);
                var a = '';
                for (var i = 0; i < data.data.length; i++) {

                    for (var x = 0; x < data.data[i].itemImages.length; x++) {
                        if (x === 0) 
                        {

                            a += '<div class="col-sm-3 col-md3 col-lg-3 col-xl-3"><div class="card item-card"><div class="card-body"><div><a href="#"><img src=" ' + data.data[i].itemImages[x]["mainImage"] + '"alt = "img"></a></div><div class="product-content text-center"><h4 class="title"><a href="#">' + data.data[i]["itemName"] + '</a></h4><div class="price">' + data.data[i]["salePrice"] + '</div></div></div></div></div>'
                        }
                    }
                }
                $('#items').html(a);
            },
            error: function (xhr, status, error) {
                console.error('Error fetching data:', error); // Use error to get the error message
            }
        });
    </script>*/

    <script>
        // Fetch data from the API
        $.ajax({
            url: '@apiUrl/api/Item/AllItemList',
            method: 'GET',
            success: function (data) {
                console.log(data);
                var itemList = '';
                for (var i = 0; i < data.data.length; i++) {
                    for (var x = 0; x < data.data[i].itemImages.length; x++) {
                        if (x === 0) {
                            itemList += '<div class="col-sm-3 col-md3 col-lg-3 col-xl-3"><div class="card item-card"><div class="card-body"><div><a href="#" class="item-link" data-item-id="' + data.data[i].itemId + '"><img src="' + data.data[i].itemImages[x]["mainImage"] + '" alt="img"></a></div><div class="product-content text-center"><h4 class="title"><a href="#" class="item-link" data-item-id="' + data.data[i].itemId + '">' + data.data[i]["itemName"] + '</a></h4><div class="price">' + data.data[i]["salePrice"] + '</div></div></div></div></div>';
                        }
                    }
                }
                $('#items').html(itemList);

                // Add click event listener to item links
                $('.item-link').click(function (e) {
                    e.preventDefault();
                    var itemId = $(this).data('item-id');
                    addToCart(itemId);
                });
            },
            error: function (xhr, status, error) {
                console.error('Error fetching data:', error); // Use error to get the error message
            }
        });

        // Function to add item to cart
        function addToCart(itemId, vendorId, quantity, price, ) {
            var cartData = {
                "vendorId": vendorId,
                "itemId": itemId,
                "quantity": quantity, // You can modify quantity as needed
                "price": price, // Replace with actual price if needed
                "totalPrice": totalPrice, // Replace with actual total price if needed
                "createdBy": createdBy // Replace with actual user ID
            };

            // AJAX call to add item to cart
            $.ajax({
                url: '@apiUrl/api/AddToCart/CreateAddToCart',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(cartData),
                success: function (response) {
                    console.log('Item added to cart successfully:', response);
                    // You can update UI or show a message here if needed
                },
                error: function (xhr, status, error) {
                    console.error('Error adding item to cart:', error); // Use error to get the error message
                }
            });
        }
    </script>


   


}
