@using Microsoft.Extensions.Configuration;
@using Microsoft.AspNetCore.Http
@inject IConfiguration Configuration;

@{
    ViewBag.Title = "Item";
    string apiUrl = Configuration.GetValue<string>("WebAPIBaseUrl");
}

<!-- PAGE-HEADER -->
<div class="page-header">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fe fe-file-text mr-1"></i>Admin Consol</a></li>
        <li class="breadcrumb-item active" aria-current="page">Item Create</li>
    </ol>
    <div class="ml-auto">
        <a href="~/Item/ItemList" class="btn btn-primary btn-icon btn-sm text-white mr-2">
            <span>
                <i class="fe fe-plus"></i>
            </span> View
        </a>
    </div>
</div>
<!-- PAGE-HEADER END -->

<div class="row">
    <div class="col-md">
        <div class="card overflow-hidden">
            <div class="card-header">
                <h3 class="card-title">Item Create</h3>
            </div>
            <div class="card-body">
                <form action="#" role="form" class="validate" id="formPost">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Vendor Name &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <div class="input-box">
                                    <select class="form-control" id="Selectvendor">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Category Name &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <div class="input-box">
                                    <select class="form-control" id="Selectcategory">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Item Name &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <input type="text" class="form-control" id="itemName" placeholder="Enter Item Name" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">MRP &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <input type="text" class="form-control" id="mRP" placeholder="Enter MRP" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Discount Amount &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <input type="text" class="form-control" id="discountAmount" placeholder="Enter Discount Amount" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Sale Price &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <input type="text" class="form-control" id="salePrice" placeholder="Enter Sale Price" required>
                            </div>
                        </div>
                       
                        
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">GST Id &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <input type="text" class="form-control" id="gSTId" placeholder="Enter GST Id" required>
                            </div>
                        </div>
                       
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">GST Amount &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <input type="text" class="form-control" id="gSTAmount" placeholder="Enter GST Amount" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Color Code &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <input type="text" class="form-control" id="colorCode" placeholder="Enter Color Code" required>
                            </div>
                        </div>
                    </div>
                   

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">HNS Code &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <input type="text" class="form-control" id="hNSCode" placeholder="Enter HNS Code" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Image &nbsp;<span style="color: red;"><b>*</b></span></label>
                            <input type="file" class="form-control" id="Image" multiple>
                        </div>
                        @* <div class="col-md-3">
                        <div class="form-group">
                        <label class="form-label">Tax Type &nbsp;<span style="color: red;"><b>*</b></span></label>
                        <input type="checkbox" class="form-control" id="taxType" placeholder="Enter Tax Type" required>
                        </div>
                        </div>*@
                       @* <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Tax Type &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <input type="checkbox" class="form-control" id="taxType" placeholder="Enter Tax Type" required>
                            </div>
                        </div>*@
                        
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="form-label">Description &nbsp;<span style="color: red;"><b>*</b></span></label>
                            <textarea class="form-control" id="description" placeholder="Enter Description" required></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" id="btncreate" class="btn btn-radius btn-success">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        GetVendor()
        async function GetVendor(Id) {
            var opt = '';
            $.ajax({
                type: "GET",
                url: "@apiUrl/api/Vendor/GetVendorList",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (res) {
                    var options = [];
                    options.push(' <option value = ""> Select Vendor </option> ');
                    for (var i = 0; i < res.data.length; i++) {
                        if (Id == res.data[i].vendorId) {
                            opt = 'selected'
                        } else {
                            opt = '';
                        }
                        options.push('<option value = "' + res.data[i].vendorId + '" ' + opt + ' > ' + res.data[i].vendorName + '</option>');
                    }
                    $("#Selectvendor").html(options.join(''));
                },

                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        }


       
       
        $("#btncreate").click(function (e) {
            if (!document.getElementById("formPost").checkValidity()) {
                e.preventDefault();

            } else {

                imgPath = '';
                var totalFiles = document.getElementById('Image').files.length;
                for (var i = 0; i < totalFiles.length; i++) {
                    formData.append("files[]", totalFiles[i]); // Append each file to the FormData object
                }
                var model = {
                    vendorId: parseInt($("#Selectvendor").val()),
                    categoryId: parseInt($("#Selectcategory").val()),
                    gstId: parseInt($("#gSTId").val()),
                    itemName: $.trim($("#itemName").val()),
                    colorCode: $.trim($("#colorCode").val()),
                    salePrice: parseFloat($("#salePrice").val()),
                    mrp: parseFloat($("#mRP").val()),
                    discountAmount: parseFloat($("#discountAmount").val()),
                    gstAmount: parseFloat($("#gSTAmount").val()),
                    //taxType: parseFloat($("#taxType").val()),
                    //status: parseFloat($("#status").val()),
                    hnsCode: $.trim($("#hNSCode").val()),
                    description: $.trim($("#description").val()),
                    image: imgPath,
                    createdBy: @Context.Session.GetInt32("UserId")?.ToString(),

                };

                console.log(model);

                $.ajax({
                    type: "POST",
                    url: "@apiUrl/api/Item/CreateItem",
                    data: JSON.stringify(model),
                    contentType: "application/json; charset=utf-8",
                    headers: {
                        "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                    },
                    dataType: "json",
                    success: function (data, statusText, xhr) {
                        if (xhr.status === 200) {
                            console.log(data);
                            sweetAlert({
                                html: true,
                                title: "Item Add",
                                text: "Successfully Created!",
                                type: "success"
                            });
                        } else if (data.status === "duplicate") {
                            sweetAlert("Validation Alert!", data.responseMsg, "warning");
                        } else if (data.status === "error") {
                            sweetAlert("Validation Alert!", data.responseMsg, "warning");
                        } else {
                            sweetAlert("Validation Alert!", "Something unexpected!", "warning");
                        }
                    },
                    error: function (data) {
                        if (data.status == 401) {
                            window.location.replace('/Message/TokenExpire');
                        } else if (data.status == 403) {
                            window.location.replace('/Message/Unauthorize');
                        } else if (data.status == 400) {
                            sweetAlert("Validation Alert!", "Please check input data!", "warning");
                        }
                    }
                });


                function uploadFile() {
                    var totalFiles = document.getElementById('Image').files.length;
                    if (totalFiles > 0) {
                        var formData = new FormData();
                        var files = document.getElementById('Image').files;
                        formData.append("file", files[0]);
                        $.ajax(
                            {
                                url: "/Upload/ImgUpload",
                                data: formData,
                                processData: false,
                                contentType: false,
                                async: false,
                                type: "POST",
                                success: function (data) {
                                    imgPath = data;

                                },
                                error: function (data) {
                                    window.location.replace('/Message/SessionExpire');
                                }
                            }
                        );
                    }

                }

            }
        });

    </script>
  
    <script>
        $(document).ready(function () {
            Getcategory();
        });

        async function Getcategory(Id) {
            var opt = '';
            $.ajax({
                type: "GET",
                url: "@apiUrl/api/Category/GetCategoryList",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (res) {
                    var options = [];
                    options.push('<option value="">Select Category</option>'); 
                    for (var i = 0; i < res.length; i++) { 
                        options.push('<option value="' + res[i].categoryId + '">' + res[i].categoryName + '</option>');
                    }
                    $("#Selectcategory").html(options.join(''));
                },
                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        }

        
    </script>
  
}