@using Microsoft.Extensions.Configuration;
@using Microsoft.AspNetCore.Http
@inject IConfiguration Configuration;

@{
    ViewBag.Title = "Location";
    string apiUrl = Configuration.GetValue<string>("WebAPIBaseUrl");
}

<!-- PAGE-HEADER -->
<div class="page-header">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fe fe-file-text mr-1"></i>Admin Consol</a></li>
        <li class="breadcrumb-item active" aria-current="page">Location Create</li>
    </ol>
    <div class="ml-auto">
        <a href="~/Location/LocationList" class="btn btn-primary btn-icon btn-sm text-white mr-2">
            <span>
                <i class="fe fe-plus"></i>
            </span> View
        </a>
    </div>
</div>
<!-- PAGE-HEADER END -->

<div class="row">
    <div class="col-md">
        <div class="card overflow-hidden">
            <div class="card-header">
                <h3 class="card-title">Location Create</h3>
            </div>
            <div class="card-body">
                <form action="#" role="form" class="validate" id="formPost">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Vendor Name &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <div class="input-box">
                                    <select class="form-control" id="Selectvendor">
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Location Name &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <input type="text" class="form-control" id="locationName" placeholder="Enter Location Name" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Latitude &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <input type="text" class="form-control" id="latitude" placeholder="Enter Latitude" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Longitude &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <input type="text" class="form-control" id="longitude" placeholder="Enter Longitude" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" id="btncreate" class="btn btn-radius btn-success">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        Getlocation()
        async function Getlocation(Id) {
            var opt = '';
            $.ajax({
                type: "GET",
                url: "@apiUrl/api/Vendor/GetVendorList",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (res) {
                    var options = [];
                    options.push(' <option value = ""> Select Location </option> ');
                    for (var i = 0; i < res.data.length; i++) {
                        if (Id == res.data[i].vendorId) {
                            opt = 'selected'
                        } else {
                            opt = '';
                        }
                        options.push('<option value = "' + res.data[i].vendorId + '" ' + opt + ' > ' + res.data[i].vendorName + '</option>');
                    }
                    $("#Selectvendor").html(options.join(''));
                },

                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        }

        $("#btncreate").click(function (e) {
            if (!document.getElementById("formPost").checkValidity()) {
                e.preventDefault();
            } else {
                var model = {
                    vendorId: parseInt($("#Selectvendor").val()),
                    locationName: $.trim($("#locationName").val()),
                    latitude: parseFloat($("#latitude").val()),
                    longitude: parseFloat($("#longitude").val()),
                    createdBy: @Context.Session.GetInt32("UserId"),
                };

                console.log(model);

                $.ajax({
                    type: "POST",
                    url: "@apiUrl/api/Location/CreateLocation",
                    data: JSON.stringify(model),
                    contentType: "application/json; charset=utf-8",
                    headers: {
                        "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                    },
                    dataType: "json",
                    success: function (data, statusText, xhr) {
                        if (xhr.status === 200) {
                            console.log(data);
                            sweetAlert({
                                html: true,
                                title: "Location Add",
                                text: "Successfully Created!",
                                type: "success"
                            });
                        } else if (data.status === "duplicate") {
                            sweetAlert("Validation Alert!", data.responseMsg, "warning");
                        } else if (data.status === "error") {
                            sweetAlert("Validation Alert!", data.responseMsg, "warning");
                        } else {
                            sweetAlert("Validation Alert!", "Something unexpected!", "warning");
                        }
                    },
                    error: function (data) {
                        if (data.status == 401) {
                            window.location.replace('/Message/TokenExpire');
                        } else if (data.status == 403) {
                            window.location.replace('/Message/Unauthorize');
                        } else if (data.status == 400) {
                            sweetAlert("Validation Alert!", "Please check input data!", "warning");
                        }
                    }
                });


            }
        });

    </script>
}