@using Microsoft.Extensions.Configuration;
@using Microsoft.AspNetCore.Http
@inject IConfiguration Configuration;

@{
    ViewBag.Title = "Purchase";
    string apiUrl = Configuration.GetValue<string>("WebAPIBaseUrl");
}

<!-- PAGE-HEADER -->
<div class="page-header">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fe fe-file-text mr-1"></i>Admin Console</a></li>
        <li class="breadcrumb-item active" aria-current="page">Purchase Edit</li>
    </ol>
    <div class="ml-auto">
        <a href="~/Purchase/PurchaseList" class="btn btn-primary btn-icon btn-sm text-white mr-2">
            <span>
                <i class="fe fe-plus"></i>
            </span> Purchase List
        </a>

    </div>
</div>
<!-- PAGE-HEADER END -->

<div class="row">
    <div class="col-md">
        <div class="card overflow-hidden">
            <div class="card-header">
                <h3 class="card-title">Purchase Edit</h3>
            </div>
            <div class="card-body">
                <form action="#" role="form" class="validate" id="formPost">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Supplier Name &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <div class="input-box">
                                    <select class="form-control" id="Selectsupplier">
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-label">Purchase Date &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <input type="date" class="form-control" id="date" placeholder="Purchase Date" required>
                            </div>

                            <div class="form-group">
                                <label class="form-label">Purchase Status &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <select name="" id="status" class="form-control" placeholder="Select Status">
                                    <option value="" disabled selected>Select Status</option>
                                    <option value="success">Success</option>
                                    <option value="pending">Pending</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Item Name &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <div class="input-box">
                                    <select class="form-control" id="Selectitem">
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-label">Total Amount &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <input type="text" class="form-control" id="amount" placeholder="Total Amount" required>
                            </div>

                            <div class="form-group">
                                <label class="form-label">Payment Status &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <select name="" id="paymentstatus" class="form-control" placeholder="Select Status">
                                    <option value="" disabled selected>Select Status</option>
                                    <option value="clear">Clear</option>
                                    <option value="due">Due</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <button type="button" id="btnupdate" class="btn btn-radius btn-success">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        GetSupplier()
        function GetSupplier(Id) {
            var opt = '';
            $.ajax({
                type: "GET",
                url: "@apiUrl/api/Supplier/GetSupplierList",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (res) {
                    var options = [];
                    // options.push(' <option value = ""> Select Supplier </option> ');
                    for (var i = 0; i < res.data.length; i++) {
                        if (Id == res.data[i].supplierId) {
                            opt = 'selected'
                        } else {
                            opt = '';
                        }
                        options.push('<option value = "' + res.data[i].supplierId + '" ' + opt + ' > ' + res.data[i].supplierName + '</option>');
                    }
                    $("#Selectsupplier").html(options.join(''));
                },

                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        }


        GetItem()
        function GetItem(Id) {
            var opt = '';
            $.ajax({
                type: "GET",
                url: "@apiUrl/api/Item/AllItemList",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (res) {
                    var options = [];
                    // options.push(' <option value = ""> Select Item </option> ');
                    for (var i = 0; i < res.data.length; i++) {
                        if (Id == res.data[i].itemId) {
                            opt = 'selected'
                        } else {
                            opt = '';
                        }
                        options.push('<option value = "' + res.data[i].itemId + '" ' + opt + ' > ' + res.data[i].itemName + '</option>');
                    }
                    $("#Selectitem").html(options.join(''));
                },

                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        }

        var purchaseId = @ViewBag.purchaseId
            loadSinglePurchase()
        function loadSinglePurchase() {
            $.ajax({
                type: "GET",
                url: "@apiUrl/api/Purchase/GetSinglePurchaseId/" + purchaseId,
                contentType: "application/json; charset=utf-8",
                headers: {
                    "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                },
                dataType: "json",
                success: function (data) {
                    //console.log(data);
                    if (data) {
                        $('#Selectsupplier').val(data.supplierName);
                        $('#Selectitem').val(data.itemName);
                        $('#date').val(data.purchaseDate);
                        $('#status').val(data.purchaseStatus);
                        $('#amount').val(data.totalAmount);
                        $('#paymentstatus').val(data.paymentStatus);
                        // loadParent();
                    }
                    else {
                        sweetAlert("Validation Alert!", "Something unexpected!", "warning");
                    }
                },
                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        }

        $("#btnupdate").click(function (e) {
            if (!document.getElementById("formPost").checkValidity()) {
                e.preventDefault();
            } else {

                var model = {
                    purchaseId: purchaseId,
                    supplierName: $.trim($("#Selectsupplier").val()),
                    itemName: $.trim($("#Selectitem").val()),
                    purchaseDate: $.trim($("#date").val()),
                    purchaseStatus: $.trim($("#status").val()),
                    totalAmount: $.trim($("#amount").val()),
                    paymentStatus: $.trim($("#paymentstatus").val()),
                    updatedBy: @Context.Session.GetInt32("UserId"),
                }
                console.log(model)
                $.ajax({
                    type: "POST",
                    url: "@apiUrl/api/Purchase/UpdatePurchase",
                    data: JSON.stringify(model),
                    contentType: "application/json; charset=utf-8",
                    headers: {
                        "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                    },

                    success: function (data, statusText, xhr) {
                        console.log(data)
                        if (xhr.status === 200) {
                            $('#purchase').DataTable().ajax.reload(null, false);
                            sweetAlert({
                                html: true,
                                icon: "success",
                                title: "purchase",
                                text: "Successfully updated!",
                                type: "success"
                            });
                        } else if (data.status === "duplicate") {
                            sweetAlert("Validation Alert!", data.responseMsg, "warning");
                        } else if (data.status === "error") {
                            sweetAlert("Validation Alert!", data.responseMsg, "warning");
                        } else {
                            sweetAlert("Validation Alert!", "Something unexpected!", "warning");
                        }
                    },
                    error: function (data) {
                        console.log(data);
                        if (data.status == 401) {
                            window.location.replace('/Message/TokenExpire');
                        } else if (data.status == 403) {
                            window.location.replace('/Message/Unauthorize');
                        } else if (data.status == 400) {
                            sweetAlert("Validation Alert!", "Please check input data!", "warning");
                        }
                    }
                });
            }
        });
    </script>
}