@using Microsoft.Extensions.Configuration;
@using Microsoft.AspNetCore.Http
@inject IConfiguration Configuration;

@{
    ViewBag.Title = "Employee";
    string apiUrl = Configuration.GetValue<string>("WebAPIBaseUrl");
}

<!-- PAGE-HEADER -->
<div class="page-header">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fe fe-file-text mr-1"></i>Admin Console</a></li>
        <li class="breadcrumb-item active" aria-current="page">Employee List</li>
    </ol>
    <div class="ml-auto">
        <a href="~/Employee/CreateEmployee" class="btn btn-primary btn-icon btn-sm text-white mr-2">
            <span>
                <i class="fe fe-plus"></i>
            </span> Employee Create
        </a>

    </div>
</div>
<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Employee List</div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="employee" class="table table-striped table-bordered nowrap dataTable no-footer dtr-inline" style="width:100%">
                        <thead>
                            <tr>
                                <th>Vendor Name</th>
                                <th>Employee Name</th>
                                <th>Email</th>
                                <th>Mobile No</th>
                                <th>D-O-B</th>
                                <th>Joining Date</th>
                                <th>Address</th>
                                <th>Photo</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>

        //List
        loadEmp()
        function loadEmp() {
            var table = $('#employee').DataTable();
            table.destroy();
            table = $('#employee').dataTable({
                "paginationType": "full_numbers",
                "dom": 'Bfrtip',
                "buttons": ['copy', 'csv', 'excel', 'pdf', 'print'],
                "searching": true,
                "paging": true,
                "sort": true,
                "info": true,
                "ajax": {
                    "url": '@apiUrl/api/Employee/GetEmployeeList',
                    "type": "GET",
                    "dataType": "json",
                    "headers": {
                        "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                    },
                    "error": function (data) {
                        if (data.status == 401) {
                            window.location.replace('/Message/TokenExpire');
                        } else if (data.status == 403) {
                            window.location.replace('/Message/Unauthorize');
                        }
                    }
                },
                "order": [],
                "columns": [
                    { "data": "employeeName", "orderable": true },
                    { "data": "email", "orderable": true },
                    { "data": "mobNo", "orderable": true },
                    { "data": "dateOfBirth", "orderable": true },
                    { "data": "dateOfJoining", "orderable": true },
                    { "data": "address", "orderable": true },
                    {
                        "render": function (data, type, row) {
                            if (row.photo === '')
                                return '';
                            else
                                return '<img style="MAX-WIDTH: 70PX; margin-left: 28px;" src="' + row.photo + '"/>'
                        }
                    },
                    {
                        "render": function (data, type, row) {
                            return '<a class="btn btn-sm btn-primary" href="../employee/EmployeeEdit?employeeId=' + row.employeeId + '"><i class="fa fa-edit"></i></a>' + '&nbsp&nbsp<button class="btn btn-sm btn-danger" data-target="#delete" data-id=' + row.employeeId + ' data-title="Delete"><i class="fa fa-trash"></i></button>';

                        }
                    }
                ]
            });
        }

        //Delete
        $('#employee tbody').on('click', 'button[data-target="#delete"]', function () {
            var id = $(this).data('id');
            swal({
                html: true,
                title: "Are you sure?",
                text: "You will not be able to recover this data!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, confirm it!",
                closeOnConfirm: false
            }, function () {
                $.ajax({
                    type: "GET",
                    url: "@apiUrl/api/Employee/DeleteHospital/" + id + "/" + @Context.Session.GetInt32("UserId"),
                    contentType: "application/json; charset=utf-8",
                    headers: {
                        "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                    },
                    dataType: "json",
                    success: function (data, statusText, xhr) {
                        if (xhr.status == 200) {
                            $('#employee').DataTable().ajax.reload(null, false);
                            sweetAlert({
                                html: true,
                                title: "Employee",
                                text: "Successfully deleted!",
                                type: "success"
                            });
                        } else if (xhr.status == 202) {
                            sweetAlert("Validation Alert!", data.responseMsg, "warning");
                        } else {
                            sweetAlert("Validation Alert!", "Something unexpected!", "warning");
                        }
                    },
                    error: function (data) {
                        if (data.status == 401) {
                            window.location.replace('/Message/TokenExpire');
                        } else if (data.status == 403) {
                            window.location.replace('/Message/Unauthorize');
                        }
                    }
                });
            });
        });
    </script>
}